.order-soon{
  background-color: #E6CBC0;

    .order{
        min-height: 80vh;
        width: 80%;
        margin: auto;
        margin-top: 5%;
     
        h3{
            display:flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 8rem;
            margin-left: -2%;
            padding-top: 25%;
            color: #2C6360;


        }
    }
} 