@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap");
html {
  font-size: 62.5%;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #2C6360;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Lobster', sans-serif;
}

h2 {
  font-size: 8rem;
  font-family: 'Lobster', sans-serif;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

.navigation {
  width: 80%;
  height: 100%;
  margin: auto;
  display: block;
  font-size: 16px;
  color: #FFEACC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation li {
  list-style-type: none;
  margin: 0 2rem;
}

.navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navigation a {
  text-decoration: none;
  color: #FFEACC;
  -webkit-transition: border 200ms ease-out;
  transition: border 200ms ease-out;
}

.navigation a:hover {
  background-color: #FFEACC;
  color: #2C6360;
  border: 0.5rem solid #FFEACC;
  border-radius: 8px;
}

.navigation .logo {
  font-family: 'Lobster', sans-serif;
  font-size: 3rem;
  color: #2C6360;
  background-color: #FFEACC;
  padding: 0.3rem 1.5rem;
  border-radius: 10px;
  border-width: 1rem;
}

.header {
  display: -ms-grid;
  display: grid;
  min-height: 90vh;
  -ms-grid-columns: 10% 30% 50% 20%;
      grid-template-columns: 10% 30% 50% 20%;
  -ms-grid-rows: 50em 50em;
      grid-template-rows: 50em 50em;
}

.header .title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-family: 'Lobster Two', sans-serif;
  font-size: 10rem;
  color: #FFEACC;
  font-stretch: semi-expanded;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 5rem;
}

.header p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: right;
  color: #FFEACC;
}

.header #show {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
}
/*# sourceMappingURL=styles.css.map */