@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap");
html {
  font-size: 62.5%;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #2C6360;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Lobster', sans-serif;
}

h2 {
  font-size: 8rem;
  font-family: 'Lobster', sans-serif;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

.navigation {
  width: 80%;
  height: 100%;
  margin: auto;
  display: block;
  font-size: 16px;
  color: #FFEACC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation li {
  list-style-type: none;
  margin: 0 2rem;
}

.navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navigation a {
  text-decoration: none;
  color: #FFEACC;
  -webkit-transition: border 200ms ease-out;
  transition: border 200ms ease-out;
}

.navigation a:hover {
  background-color: #FFEACC;
  color: #2C6360;
  border: 0.5rem solid #FFEACC;
  border-radius: 8px;
}

.navigation .logo {
  font-family: 'Lobster', sans-serif;
  font-size: 3rem;
  color: #2C6360;
  background-color: #FFEACC;
  padding: 0.3rem 1.5rem;
  border-radius: 10px;
  border-width: 1rem;
}

.header {
  display: -ms-grid;
  display: grid;
  min-height: 80vh;
  -ms-grid-columns: 10% minmax(5rem, 30%) minmax(10rem, 60%) 10%;
      grid-template-columns: 10% minmax(5rem, 30%) minmax(10rem, 60%) 10%;
  -ms-grid-rows: 50em 30em;
      grid-template-rows: 50em 30em;
}

.header .title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-family: 'Lobster Two', sans-serif;
  font-size: 8.5rem;
  color: #FFEACC;
  font-stretch: semi-expanded;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 5rem;
  letter-spacing: 1px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

.header p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: right;
  color: #FFEACC;
  font-size: 2rem;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

.header #show2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  margin-right: 21rem;
  margin-top: 20rem;
  z-index: -1;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-name: utut;
          animation-name: utut;
}

#show {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  margin-top: 12rem;
}

@-webkit-keyframes slidein {
  0% {
    width: -50%;
    opacity: 0%;
  }
  80% {
    width: 100%;
    opacity: 100%;
  }
}

@keyframes slidein {
  0% {
    width: -50%;
    opacity: 0%;
  }
  80% {
    width: 100%;
    opacity: 100%;
  }
}

@-webkit-keyframes utut {
  0% {
    margin-left: -50%;
    opacity: 0%;
  }
  50% {
    margin-left: 30%;
    opacity: 50%;
  }
  80% {
    margin-left: 0%;
    opacity: 100%;
  }
}

@keyframes utut {
  0% {
    margin-left: -50%;
    opacity: 0%;
  }
  50% {
    margin-left: 30%;
    opacity: 50%;
  }
  80% {
    margin-left: 0%;
    opacity: 100%;
  }
}

@-webkit-keyframes moveonhover {
  0% {
    margin-left: 0%;
    opacity: 100%;
  }
  25% {
    margin-left: 20%;
    opacity: 100%;
  }
  50% {
    margin-left: -40%;
    opacity: 100%;
  }
  100% {
    margin-left: 0%;
    opacity: 100%;
  }
}

@keyframes moveonhover {
  0% {
    margin-left: 0%;
    opacity: 100%;
  }
  25% {
    margin-left: 20%;
    opacity: 100%;
  }
  50% {
    margin-left: -40%;
    opacity: 100%;
  }
  100% {
    margin-left: 0%;
    opacity: 100%;
  }
}

.aboutback {
  background-color: #E6CBC0;
}

.aboutsection {
  min-height: 60vh;
  width: 80%;
  margin: auto;
  margin-top: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.aboutsection h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-self: flex-start;
  font-size: 7rem;
  margin-left: -2%;
}

.aboutsection .innertext {
  margin-top: 10%;
  color: #2C6360;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@keyframes slidein {
  0% {
    width: -50%;
    opacity: 0%;
  }
  80% {
    width: 100%;
    opacity: 100%;
  }
}

.products {
  background-color: #2C6360;
}

.products .models {
  min-height: 80vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.products h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  justify-self: flex-start;
  font-size: 7rem;
  margin-left: -2%;
  margin-top: 10%;
  color: #FFEACC;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.products .cards {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .cards .card {
  background: #FFEACC;
  margin: 0rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
  -webkit-box-shadow: -10px 10px 5px #22413f;
          box-shadow: -10px 10px 5px #22413f;
}

.products .cards .card h4 {
  margin: 3rem 0rem;
}

.products .cards .card p {
  padding: 3rem;
}

.products .cards .card img {
  -o-object-fit: cover;
     object-fit: cover;
}

.products .cards .cardImage {
  max-width: 400px;
  min-width: 300px;
  max-height: 200px;
  height: auto;
}

@keyframes slidein {
  0% {
    width: -50%;
    opacity: 0%;
  }
  80% {
    width: 100%;
    opacity: 100%;
  }
}

.order-soon {
  background-color: #E6CBC0;
}

.order-soon .order {
  min-height: 80vh;
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.order-soon .order h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 8rem;
  margin-left: -2%;
  padding-top: 25%;
  color: #2C6360;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@keyframes slidein {
  0% {
    width: -50%;
    opacity: 0%;
  }
  80% {
    width: 100%;
    opacity: 100%;
  }
}

.footersection {
  background-color: #2C6360;
}

.footersection .footer {
  min-height: 5vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footersection .footer .logo {
  font-size: 30px;
  font-family: 'Lobster', sans-serif;
  color: #ffeacc;
  letter-spacing: 1px;
}

.footersection .footer .social {
  min-width: 20rem;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footersection .footer a {
  color: #ffeacc;
}
/*# sourceMappingURL=styles.css.map */